.header {
    width: 1100px;
    height: 293px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 0 50px;
}
.header__menu {
    justify-self: start;
}
.header__links-list {
    list-style: circle;
    display: flex;
    flex-direction: row;
    gap: 0;
    padding: 0;
    margin: 0;
}
.header__links-list-item {
    margin-right: 32px;
}
.header__links-list-item_no-bullit {
    list-style: none;
}
.header__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}
.header__link_active {
    text-decoration: none;
}
.header__link:hover {
    text-decoration: none;
}
.header__logo {
    display: block;
    justify-self: center;
}
.header__logo-image {
    width: 148px;
    height: 105px;
}
.header__address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 240px;
    justify-self: end;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    font-style: normal;
}
.header__address-link {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}
.header__address-link:hover {
    text-decoration: none;
}

.cover {   
    min-height: 757px;
    position: relative;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 180px 24px 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.cover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}
.cover__title {
    position: relative;
    z-index: 1;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 30px;
    text-transform: uppercase;
    padding-left: 50px;
    margin-bottom: auto;
}
.aligned-text {
    display: block;
}
.aligned-text_left {
    text-align: left;
    display: block;
    line-height: 115px;
}
.aligned-text_center {
    text-align: center;
    display: block;
    line-height: 115px;
}
.aligned-text_right {
    text-align: right;
    display: block;
    line-height: 115px;
}
.cover__description {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    margin-top: auto;
}
.cover__description-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
}
.bet-button {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 12px 32px;
    background: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    white-space: nowrap;
}
.bet-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.lots {
    padding: 180px 50px;
}
.lots__heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 27px;
    margin-left: 40px;
}
.lots__card-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 0 0 30px 0;
    padding: 0;
}
.lots__card-list-item {
    flex: 1;
    min-height: 596px;
}
.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 596px;
    padding: 50px 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #FFFFFF;
}
.card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}
.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}
.card__title {
    position: relative;
    z-index: 1;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    text-transform: uppercase;
}
.card__text {
    position: relative;
    z-index: 1;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
}
.lots__look-more-link {
    display: block;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}
.lots__look-more-link:hover {
    text-decoration: none;
}
.about {
    display: grid;
    grid-template-columns: 430px 1fr;
    gap: 25px;
    padding: 40px 50px 180px;
}
.about__logo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.about__logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000000;
}
.about__logo-image {
    width: 148px;
    height: 114px;
}
.about__content {
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.about__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}
.about__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
.about__text p {
    margin: 0;
}
.footer {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: start;
    padding: 0 50px 90px;
}
.footer__address {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    font-style: normal;
}
.footer__address-link {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}
.footer__address-link:hover {
    text-decoration: none;
}
.footer__address-text {
    margin: 0;
}
.footer__menu {
    justify-self: center;
}
.footer__links-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding: 0;
    margin: 0;
}
.footer__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}
.footer__link_active {
    text-decoration: none;
}
.footer__link:hover {
    text-decoration: none;
}
.footer__social-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 48px;
    padding: 0;
    margin: 0;
    justify-self: end;
}
.footer__social-link {
    display: block;
}
.footer__social-icon {
    width: 48px;
    height: 48px;
}


